header {
  background-color: #202020;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  width: 25%;
  line-height: 3rem;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #323232;
}

nav ul li a {
  text-decoration: none;
  transition: 0.5s;
  color: #e8e8e8;
}

nav ul li:hover a {
  color: #bc9600;
}
