header {
  background-color: #202020;
  display: flex;
  justify-content: right;
  column-gap: calc(30% + 1.5rem);
  width: 100%;
}

nav {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  width: 25%;
  line-height: 3rem;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #323232;
}

nav ul li a {
  text-decoration: none;
  transition: 0.5s;
  color: #e8e8e8;
}

nav ul li:hover a {
  color: #bc9600;
}

.theme-btn {
  border: none;
  outline: none;
  width: 3rem;
  height: 3rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
  background-color: #ffffff00;

  cursor: pointer;
  transition: 0.3s;
}

.theme-btn:hover {
  background-color: #323232;
}

.theme-btn-light {
  background-image: url(../assets/icons/themes/sun.png);
}

.theme-btn-dark {
  background-image: url(../assets/icons/themes/moon.png);
}

@media screen and (max-width: 768px) {
  header {
    position: fixed;
    z-index: 10;
    column-gap: calc((30% + 3rem) / 2);
  }
  nav {
    width: 50%;
  }

  nav ul {
    column-gap: 1.5rem;
  }
}
