.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  gap: 2rem 4rem;
  justify-content: center;
  margin: auto;
}

.service-card {
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.service-img {
  width: 150px;
  height: 150px;
}

.service-figcaption {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  height: calc(280px - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-figcaption h6 {
  font-size: 1rem;
  color: #202020;
}

@media screen and (max-width: 768px) {
  .service-card {
    height: 230px;
  }
  .service-figcaption {
    height: calc(80px);
  }
}
